<div class="container picker visible date {{ name }}">
    <input type="text" class="readonly" name="{{ name }}" id="{{ name }}" autocomplete="off" readonly value="{{ value|default:'' }}">
    <div class="container picker hidden date {{ name }}" hidden>

        <div class="picker date header">
            <button type="button" class="prev">Prev</button>
        
            <div>
                <select class="month">
                    <option value="0">January</option>
                    <option value="1">February</option>
                    <option value="2">March</option>
                    <option value="3">April</option>
                    <option value="4">May</option>
                    <option value="5">June</option>
                    <option value="6">July</option>
                    <option value="7">August</option>
                    <option value="8">September</option>
                    <option value="9">October</option>
                    <option value="10">November</option>
                    <option value="11">December</option>
                </select>

                <input type="number" class="year">
            </div>

            <button type="button" class="next">Next</button>
        </div>

        <div class="days">
            <span>Sun</span>
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
        </div>

        <div class="dates">
            <!-- Dates will be dynamically generated here -->
        </div>
    </div>
</div>