<div class="container picker visible group {{ name }}">
    <input type="text" class="readonly" name="{{ name }}" id="{{ name }}" autocomplete="off" readonly>
    <div class="container picker group {{ name }} hidden" hidden>
        
        {% for group_item, default_num, min_num, max_num, label, subtitle in groups %}
            <div class="row">
                <div class="row-label">
                    <label>{{ label }}</label>
                    {% if subtitle %}<span class="row-subtitle">{{ subtitle }}</span>{% endif %}
                </div>

                <div class ="counter">
                    <button type="button" id="{{ group_item }}" class="decrement">-</button>
                    <p class="count" id="{{ group_item }}" min="{{ min_num }}" max="{{ max_num }}">
                        {{ default_num }}
                    </p>
                    <button type="button" id="{{ group_item }}" class="increment">+</button>
                </div>
            </div>
            {% endfor %}
    </div>
</div> 