{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms and Conditions | Algarve Beach Apartments</title>
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'bookings/bookings.css' %}">
    <link rel="stylesheet" href="{% static 'footer/footer.css' %}">
</head>
<header>
    {% include 'header/header.html' %}
</header>
<body>

    <div class="conditions-page terms-page">
        <h1>Terms and Conditions</h1>

        <p>These Booking Conditions form the basis of the Booking Contract signed between the person whose name is specified as the "Lead Guest" in the Booking Contract, hereafter the Holidaymaker, and Algarve Beach Apartments. Nothing in these Booking Conditions affects the normal statutory rights of the signatories.</p>

        <h2>1. Signing the Booking Contract</h2>
        <p>The property specified in the Booking Contract, hereafter the Property, is reserved for the Holidaymaker for the period of time specified in the Booking Contract, hereafter the Holiday Time, once:</p>
        <p>a) the Booking Contract has been submitted by the Holidaymaker along with the value of the initial payment specified in the Booking Contract, hereafter the Initial Payment;</p>
        <p>and b) both submissions, Booking Contract and Initial Payment, have been reviewed and confirmed by Algarve Beach Apartments.</p>
        <p>The value of the Initial Payment is 25% of the value of the total holiday charge specified in the Booking Contract, hereafter the Total Holiday Charge, unless the Booking Contract is signed less than 8 weeks in advance of the holiday start date specified in the Booking Contract, hereafter the Holiday Start Date, in which case the value of the Initial Payment is 100% of the value of the Total Holiday Charge.</p>
        <p>The value of the Initial Payment is fully refundable if and only if a request for cancellation of the booking specified in the Booking Contract, hereafter the Booking, is received within seven days of the original submission of the Booking Contract, hereafter the Grace Period. Algarve Beach Apartments reserves the right to withhold all payments, thereafter.</p>
        <p>The Holidaymaker signs the Booking Contract as a consumer for the purpose of a holiday and acknowledges that no liability can be accepted by Algarve Beach Apartments for any business losses howsoever suffered or incurred by the Holidaymaker.</p>
        <p>Once the Booking Contract and the Initial Payment are submitted by the Holidaymaker and received by Algarve Beach Apartments, as defined in 1-a), Algarve Beach Apartments will revise both items and, upon successful revision, issue the Holidaymaker with written confirmation, as defined in 1-b).</p>
        <p>The Booking Contract between the Holidaymaker and Algarve Beach Apartments comes into full effect when written confirmation is sent to the Holidaymaker. Algarve Beach Apartments reserves the right to refuse any Booking Contract prior to the issue of written confirmation.</p>
        <p>Refusal of the Booking Contract by Algarve Beach Apartments at the stage of revision charges Algarve Beach Apartments with the responsibility to refund to the Holidaymaker the full value of the Initial Payment if such has already been received or is in the process of being received by Algarve Beach Apartments.</p>
        <p>It is incumbent upon the Holidaymaker to check the details of the written confirmation sent by Algarve Beach Apartments and inform Algarve Beach Apartments immediately of any errors or omissions. After the termination of the Grace Period, Algarve Beach Apartments cannot be liable for any errors or omissions present in the Booking Contract and/or the written confirmation which either immediately or eventually negatively affect the Booking and/or Holiday Time of the Holidaymaker.</p>

        <h2>2. Balance Payment for the Booking</h2>
        <p>Where the Booking Contract specifies a balance payment, hereafter the Balance Payment, where the Initial Payment is 25% of the value of the Total Holiday Charge and the Balance Payment is 75% of the value of the Total Holiday Charge, the Balance Payment must be made at least 8 weeks prior to the Holiday Start Date.</p>
        <p>Failure on the side of the Holidaymaker to make the Balance Payment within the required time frame can be treated as a cancellation of the Booking by the Holidaymaker.</p>

        <h2>3. Cancellation or Amendment by the Holidaymaker</h2>
        <p>If the Holidaymaker needs to cancel or amend the Booking, the Holidaymaker must telephone Algarve Beach Apartments on the number given in the written confirmation email as soon as possible.</p>
        <p>The Holidaymaker will then be required to confirm the cancellation of the Booking by replying to the original written confirmation email sent by Algarve Beach Apartments. Cancellations will not take effect until the aforementioned email reply from the Holidaymaker is received by Algarve Beach Apartments.</p>
        <p>As outlined in 1, cancellations made within the Grace Period of seven days after the sending of the original written confirmation of the Booking by Algarve Beach Apartments affords the Holidaymaker the right to a full refund of the Initial Payment.</p>
        <p>As equally outlined in 1, beyond the Grace Period, cancellations entitle Algarve Beach Apartments to withhold any previously made Initial Payment and/or Balance Payment.</p>

        <h2>4. Cancellation or Amendment by Algarve Beach Apartments</h2>
        <p>Algarve Beach Apartments does not expect to have to make any changes to the Booking Contract after its initial revision. However, at times and due to circumstances beyond reasonable control, situations arise which force alterations or, very occasionally, cancellations.</p>
        <p>In such an event, Algarve Beach Apartments commits to contacting the Holidaymaker as soon as possible and explain the situation. All reasonable efforts will be made by Algarve Beach Apartments to preserve the expectations and wishes of the Holidaymaker, and should no suitable alternatives be agreeable, or in cases where none are possible, the Holidaymaker will be given a full refund of all hitherto made payments related to the Booking Contract.</p>

        <h2>5. The Property</h2>
        <p>The Holidaymaker is granted access to the Property on the day of the Holiday Start Date after 14.00 hours.</p>
        <p>The Holidaymaker agrees to depart the Property on the holiday end date specified in the Booking Contract, hereafter the Holiday End Date, by 10.00 hours.</p>
        <p>In case of delayed arrival, i.e., the original Holiday Start Date no longer being accurate, the Holidaymaker agrees to contact Algarve Beach Apartments so that alternative arrangements can be made. If the Holidaymaker fails to make contact on the Holiday Start Date to make this change clear, access to the Property may be denied and the Booking treated as cancelled.</p>
        <p>The Holidaymaker agrees to keep and leave the Property and the furnishings, kitchen equipment, crockery, glasses, in good condition. The Holidaymaker agrees that it is incumbent upon them to maintain a reasonable standard of domestic hygiene throughout the period of time specified in the Booking Contract. The Holidaymaker accepts that failure to comply with these obligations will make them liable to Algarve Beach Apartments for the reasonable cost of rectification.</p>
        <p>The Booking is based on self-catering and will not include a maid service. Linen change or apartment cleaning services can be offered at an additional cost to be agreed between Algarve Beach Apartments and the Holidaymaker.</p>

        <h2>6. The Condominium</h2>
        <p>The Holidaymaker agrees to comply with the Condominium Regulations in place at the Property and the surrounding environment which include but are not strictly limited to:</p>
        <p>a) the strict observance of quiet hours between 22.00 hours and 08.00 hours every day;</p>
        <p>b) the prohibition of all ball games around the pool and other communal areas which directly impact the comfort and well-being of other users;</p>
        <p>c) the prohibition of noise-level raising beyond that which ensures the comfort and well-being of all condominium users;</p>
        <p>d) the prohibition of entry to the Condominium to all persons not listed in the guest list originally specified in the Booking Contract without prior consultation with and express consent from Algarve Beach Apartments.</p>
        <p>The Holidaymaker accepts that failure to comply with any of 6-a), 6-b), 6-c), 6-d), entitles Algarve Beach Apartments to evict the Holidaymaker from the Property without recourse to any refund, be it the Initial Payment and/or Balance Payment.</p>
        <p>The Holidaymaker also agrees not to cause any damage to the walls, doors, or windows of the Condominium or to engage in any behaviour that may be understandably considered to cause a nuisance or annoyance to Algarve Beach Apartments or to any other occupier of adjoining or neighbouring properties. The Holidaymaker accepts that failure to comply with these obligations will make them liable to Algarve Beach Apartments for the reasonable cost of rectification.</p>

        <h2>7. The Holidaymaker's Obligations</h2>
        <p>The Holidaymaker agrees to take all necessary steps to safeguard their personal property. No liability is accepted on behalf of Algarve Beach Apartments in respect of damage to or loss of the property of the Holidaymaker, except where the damage or loss is caused by the negligence of Algarve Beach Apartments.</p>
        <p>The Holidaymaker agrees to ensure that each member of their party is covered by comprehensive travel insurance (including cancellation, flight delays, loss and damage to baggage and other property) and health insurance (including evacuation and repatriation coverage).</p>
        <p>The Holidaymaker agrees that no more than the people expressly indicated in the Booking Contract are authorised to stay in the Property, nor that any significant change can be made by the Holidaymaker to the makeup of the party during the time spent in the Property. The Holidaymaker accepts that failure to comply with this obligation will be treated as a cancellation of the Booking and the loss of all financial commitments made hitherto such as Initial Payment and/or Balance Payment.</p>
        <p>The Holidaymaker agrees that no pets, nor any other animal, domestic or otherwise, may be taken into the Property without prior arrangement with and express permission from Algarve Beach Apartments. Failure to meet this obligation will result in refusal of entry into the Property or, if already part-way through the Holiday Time, immediate eviction. The Holidaymaker accepts that failure to comply with this obligation will be treated as a cancellation of the Booking and the loss of all financial commitments made hitherto such as Initial Payment and/or Balance Payment.</p>
        <p>The Holidaymaker agrees to allow Algarve Beach Apartments or any representative thereof access at any reasonable hour during the Holiday Time for the purpose of essential repairs.</p>
        <p>For Bookings of periods of time longer than 14 nights, the Holidaymaker agrees to allow Algarve Beach Apartments or any representative thereof access to the Property to carry out a brief mid-Booking inspection.</p>

        <h2>8. Complaints</h2>
        <p>Algarve Beach Apartments commits to making every reasonable effort to ensure that the Holidaymaker has an enjoyable and memorable experience throughout the Holiday Time. Any shortcoming on the part of Algarve Beach Apartments should be immediately communicated by the Holidaymaker so that rectifications can be made in good time.</p>
        <p>It is essential that the Holidaymaker contacts Algarve Beach Apartments or a representative thereof whenever structural and/or superficial problems arise in and/or around the Property so that Algarve Beach Apartments may fulfil its commitments to the Holidaymaker. Algarve Beach Apartments commits to rectifying all structural and superficial problems with promptness, always opting for the speediest and safest solutions.</p>
        <p>Algarve Beach Apartments cannot be entirely responsible for issues arising in or around the Property affecting the Holiday Time of the Holidaymaker when the Holidaymaker does not attempt to make these issues known to Algarve Beach Apartments within the first 24 hours of their emergence.</p>

        <h2>9. Algarve Beach Apartments' Liability</h2>
        <p>Algarve Beach Apartments' maximum liability for losses suffered by the Holidaymaker as a result of Algarve Beach Apartments acting in breach of the present terms and conditions, and any losses which are a foreseeable consequence of Algarve Beach Apartments breaking the agreement, is strictly limited to &euro;2,000. Losses are foreseeable where they could be contemplated by the Holidaymaker and Algarve Beach Apartments at the time the Booking is confirmed by Algarve Beach Apartments.</p>
        <p>This does not include or limit in any way the liability of Algarve Beach Apartments for death or personal injury caused by its negligence, or for fraud or fraudulent misrepresentation; or for any matter for which it would be illegal for Algarve Beach Apartments to exclude, or attempt to exclude, its liability.</p>

        <h2>10. Law</h2>
        <p>The Booking Contract between the Holidaymaker and Algarve Beach Apartments is governed by the law of Portugal and both parties agree that any dispute, matter, or other issue which arises between them will be dealt with by the courts of Portugal.</p>
    </div>

    {% include 'footer/footer.html' %}

</body>
</html>
