@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

:root {
    --primary-color: #2c3e50;
    --secondary-color: #18bc9c;
    --background-color: #f5f5f5;
    --primary-font: 'Merriweather', serif;
    --secondary-font: 'Cabin', serif;
    --tertiary-font: 'Montserrat', serif;
    --primary-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: var(--tertiary-font);
}

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-family: var(--primary-font);
    font-size: 3.2em;
    font-weight: 300;
}

h2 {
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    font-size: 1.5em;
    font-weight: 300;
}

h3 {
    color: var(--secondary-color);
    font-family: var(--tertiary-font);
    font-size: 1.2em;
    font-weight: 200;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;

    
}

/* =========================
   MAIN CONTAINER: BASE
   ========================= */
.container {
    width: 100%;
    height: 100vh;
    background: var(--background-color);
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* =========================
   MAIN CONTAINER: FIFTY-FIFTY
   ========================= */
.container.fifty-fifty .left,
.container.fifty-fifty .right {
    width: 50%;
    height: 100%;
    box-shadow: var(--primary-box-shadow);
}

/* =========================
   MAIN CONTAINER: TILES
   ========================= */
.container.tiles .tile {
    width: 50%;
    height: 50%;
    box-shadow: var(--primary-box-shadow);
}

.container.tiles .tile.one {
    background-color: rgb(178, 190, 230);
}

.container.tiles .tile.two {
    background-color: rgb(255, 223, 186);
}

.container.tiles .tile.three {
    background-color: rgb(163, 204, 136);
}

.container.tiles .tile.four {
    background-color: rgb(221, 169, 205);
}

.container.tiles .tile:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* =========================
   MAIN CONTAINER: TEXT + IMAGE
   ========================= */
.container.text-image {
    height: 50vh;
    flex-direction: row;
    flex-wrap: nowrap;
}

.container.text-image.odd {
    display: flex;
}

.container.text-image.even {
    display: flex;
    flex-direction: row-reverse;
}

.container.text-image .text {
    background-color: rgb(136, 196, 204);
    width: 45%;
}

.container.text-image .image {
    background-color: rgb(216, 221, 169);
    width: 55%;
}   

/* =========================
   MAIN CONTAINER: TEXT BOXES
   ========================= */
.container.text-boxes {
    justify-content: center;
    background: blue;
}

.container.text-boxes .text-box {
    width: 20%;
    height: 40%;
    margin: 0px 20px;
    position: relative;
    border-radius: 10px;
    top: 10%;
}   

.container.text-boxes .text-box.wide {
    width: 43%;
    height: 30%;
}

.container.text-boxes h2 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.container.text-boxes h2 .wide {
    padding-top: 40px;
}

.container.text-boxes .text-box-content {
    padding: 30px;
    font-size: 0.9em;
    text-align: justify;
}


/* =========================
   MAIN CONTAINER: LISTS
   ========================= */
.container.lists {
    justify-content: center;
    align-items: flex-start;
}

.container.lists h1 {
    margin-bottom: 20px;
    top: 10%;
}

.container.lists .list {
    width: fit-content;
    height: fit-content;
    margin: 0px 20px;
    padding: 20px;
    top: 30%;
    position: relative;
}   

.container.lists .list h3 {
    text-align: center;
    margin-bottom: 20px;
}

.container.lists .list ul {
    padding-left: 20px;
}

.container.lists .list ul li {
    margin-bottom: 10px;
    font-size: 0.9em;
}

/* =========================
   MAIN CONTAINER: CARDS
   ========================= */

.container.cards {
    align-items: center;
    justify-content: center;

}

.cards .card {
    max-width: 80%;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--primary-box-shadow);
    overflow: hidden;
    text-align: left;
    margin: 20px;
}

.cards .card-content {
    padding: 0 20px;
}

.cards h3 {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}

.cards .card-description {
    font-size: .9em;
    margin: 10px 0;
}

.cards .card-address {
    font-size: 0.8em;
    color: rgb(100, 100, 100);
    margin: 10px 0;
}

.cards .card img {
    width: 100%;
    height: auto;
}

/* =========================
   RESPONSIVE: CONTAINER OVERRIDES
   ========================= */
@media (max-width: 768px) {
    .container.text-image .text {
        width: 100%;
        height: 50%;
    }

    .container.tiles {
        flex-direction: column;
        height: 150vh;
    }
    
    .container.tiles .tile {
        width: 100%;
        height: 25%;
    }
    
    .container.text-image.odd,
    .container.text-image.even {
        flex-direction: column-reverse;
    }
    
    .container.text-image .text {
        width: 100%;
    }

    .container.text-image .image {
        width: 100%;
    }   
}
