@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --primary-color: #2c79b9;
    --primary-color-dark: #1f5f93;
    --secondary-color: #9f6f00;
    --secondary-color-soft: #f9e7b0;
    --background-color: #f7fafc;
    --primary-font: 'Merriweather', serif;
    --primary-font-2: 'Lora', serif;
    --secondary-font: 'Raleway', sans-serif;
    --tertiary-font: 'Montserrat', sans-serif;
    --primary-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.288);
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: var(--tertiary-font);

}

/* =========================
   HEADINGS
   ========================= */

h1 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 30px;
    font-family: var(--primary-font-2);
    font-size: 3.2em;
    font-weight: 400;
}

h2 {
    text-align: center;
    color: var(--secondary-color);
    margin-bottom: 10px;
    font-family: var(--secondary-font);
    font-size: 2em;
    font-weight: 400;
}

h3 {
    color: var(--secondary-color);
    font-family: var(--tertiary-font);
    font-size: 1.2em;
    font-weight: 400;
}

/* =========================
IMAGES
   ========================= */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.icon {
    width: 50px;
    height: 50px;
}

/* =========================
   MAIN CONTAINER: BASE
   ========================= */
   
.container {
    width: 100%;
    height: 100vh;
    margin: 0px;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* =========================
   MAIN CONTAINER: CENTER
   ========================= */

.container.center {
    max-width: 1200px;
    margin: 20px auto;
}

/* =========================
    MAIN CONTAINER: TOP
    ========================= */

.container.top {
    justify-content: center;
    align-items: center;
}

/* =========================
   MAIN CONTAINER: FIFTY-FIFTY
   ========================= */
.container.fifty-fifty .left,
.container.fifty-fifty .right {
    width: 50%;
    height: 100%;
    box-shadow: var(--primary-box-shadow);
}

/* =========================
   MAIN CONTAINER: MOSAIC
   ========================= */

.container.mosaic {
    align-items: center;
}

.container.mosaic .tile img {
    object-fit: cover;
    filter: brightness(0.7);
    opacity: 0.9;
    z-index: -1;
}

.container.mosaic .tile h1, 
.container.mosaic .tile h2, 
.container.mosaic .tile h3, 
.container.mosaic .tile p {
    position: absolute;
    color: white;
    z-index: 1;
    text-shadow: 0px 0px 10px rgba(0,0,0,1), 0px 0px 10px rgba(0,0,0,0.5);
    text-decoration: solid;
}

.container.mosaic .tile {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container.mosaic.simple .tile {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 2px solid white;
}

.container.mosaic.simple .tile:hover {
    filter: brightness(1.3);
    opacity: 1;
    transition: filter 0.3s ease;
}

.container.mosaic.simple .tile:hover h1,
.container.mosaic.simple .tile:hover h2,
.container.mosaic.simple .tile:hover h3,
.container.mosaic.simple .tile:hover p {
    display: none;
}

.container.mosaic.ornate .left {
    width: 15%;
    height: 100%;
    box-sizing: border-box;
}

.container.mosaic.ornate .right {
    display: flex;
    flex-direction: row;
    width: 75%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.container.mosaic.ornate .right .tile {
    width: 45%;
    height: 45%;
}


/* =========================
   MAIN CONTAINER: TEXT + IMAGE
   ========================= */
.container.text-image {
    height: 50vh;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-bottom: 5px;
}

.container.text-image.odd {
    display: flex;
    flex-direction: row-reverse;
}

.container.text-image.even {
    display: flex;
}

.container.text-image .text {
    width: 42.5%;
}

.container.text-image .image {
    width: 52.5%;
}   

/* =========================
   MAIN CONTAINER: TEXT BOXES
   ========================= */

.container.text-boxes {
    justify-content: space-between;
    row-gap: 100px;

}

.container.text-boxes .text-box {
    width: 30%;
    height: 40%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 15%;
}   

.container.text-boxes .text-box.wide {
    width: 43%;
    height: 30%;
}

.container.text-boxes .text-box-icon {
    text-align: center;
    width: 90px;
    height: 90px;
}

.container.text-boxes h2 {
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    padding-top: 20px;
}

.container.text-boxes h2 .wide {
    padding-top: 40px;
}

.container.text-boxes .text-box-content {
    padding: 20px;
    line-height: 1.5;
    text-align: center;
    font-size: 0.9em;
    color: rgb(80, 80, 80);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* =========================
   MAIN CONTAINER: LISTS
   ========================= */

.container.lists {
    justify-content: center;
    align-items: flex-start;
}

.container.lists h1 {
    margin-bottom: 20px;
    top: 10%;
}

.container.lists .list {
    width: fit-content;
    height: fit-content;
    margin: 0px 20px;
    padding: 20px;
    top: 30%;
    position: relative;
}   

.container.lists .list h3 {
    text-align: center;
    margin-bottom: 20px;
}

.container.lists .list ul {
    padding-left: 20px;
}

.container.lists .list ul li {
    margin-bottom: 10px;
    font-size: 0.9em;
}

/* =========================
   MAIN CONTAINER: CARDS
   ========================= */

.container.cards {
    align-items: center;
    justify-content: center;

}

.cards .card {
    max-width: 80%;
    width: 500px;
    background-color: rgb(255, 255, 255);
    box-shadow: var(--primary-box-shadow);
    overflow: hidden;
    text-align: left;
    margin: 20px;
}

.cards .card-content {
    padding: 0 20px;
}

.cards h3 {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-weight: 600;
    margin: 10px 0;
}

.cards .card-description {
    font-size: .9em;
    margin: 10px 0;
}

.cards .card-address {
    font-size: 0.8em;
    color: rgb(100, 100, 100);
    margin: 10px 0;
}

.cards .card img {
    width: 100%;
    height: auto;
}



/* =========================
   RESPONSIVE: CONTAINER OVERRIDES
   ========================= */
@media (max-width: 768px) {
    .container.text-image .text {
        width: 100%;
        height: 50%;
    }

    .container.tiles {
        flex-direction: column;
        height: 150vh;
    }
    
    .container.tiles .tile {
        width: 100%;
        height: 25%;
    }
    
    .container.text-image.odd,
    .container.text-image.even {
        flex-direction: column-reverse;
    }
    
    .container.text-image .text {
        width: 100%;
    }

    .container.text-image .image {
        width: 100%;
    }   
}
