{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algarve Beach Apartments</title>
    <link rel="stylesheet" href="{% static 'header/header.css' %}">
    <link rel="stylesheet" href="{% static 'pickers/dates.css' %}">
    <link rel="stylesheet" href="{% static 'pickers/groups.css' %}">
    <link rel="stylesheet" href="{% static 'pickers/picker.css' %}">
    <link rel="stylesheet" href="{% static 'availability/toolbar.css' %}">
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <script type="module" src="{% static 'availability/script.js' %}"></script>
    <script type="module" src="{% static 'availability/toolbar.js' %}"></script>
    <script type="module" src="{% static 'pickers/dates.js' %}"></script>
    <script type="module" src="{% static 'pickers/groups.js' %}"></script>
    <script type="module" src="{% static 'index/script.js' %}"></script>
    <script type="module" src="{% static 'main/script.js' %}"></script>
</head>
<header>
    {% include 'header/header.html' %}
</header>
<body>
    
    <div class="container top">
        <img src="{% static 'index/images/top/2.jpg' %}" alt="Top Image" class="background-image">
        <h1>Stay with the best</h1>
        <h3>Book your perfect Algarve holiday experience right now!</h3>
        {% include 'availability/toolbar.html'  %}
    </div>

    <div class="container text-boxes">
        <div class="text-box one">
            <img src="{% static 'index/images/icons/premium.svg' %}" alt="Premium Locations Icon" class="icon">
            <h2>Premium Locations</h2>
            <p class="text-box-content">
                Offering a unique blend of comfort, style, and breathtaking views. Whether you prefer a high end sea facing apartment or a pool side marvel, we have the perfect accommodation for you.    
            </p>
            
        </div>
        <div class="text-box two">
            <img src="{% static 'index/images/icons/facilities.png' %}" alt="Top Facilities Icon" class="icon">
            <h2>Top Facilities</h2>
            <p class="text-box-content">
                Highest quality facilities to ensure a comfortable and enjoyable stay. From fully equipped kitchens and modern appliances to luxurious bathrooms and spacious living areas.
            </p>
            
        </div>
        <div class="text-box three">
            <img src="{% static 'index/images/icons/winter.png' %}" alt="Winter Rates Icon" class="icon">
            <h2>Winter Rates</h2>
            <p class="text-box-content">
                Take advantage of our special winter rates and enjoy a stay at a fraction of the cost. Our winter discounts offer exceptional value without compromising on comfort or quality.
            </p>

        </div>

    </div>

    <div class="container tiles">
        {% if locations_list %}
        {% for location in locations_list %}
            <div class="tile">
                <img src="{% static 'index/images/' %}{{ location.slug }}/main/1.jpg" alt="{{ location.title }}">
                    <div class="location-details">
                        <h2 class="location-title">{{ location.title|upper }}</h2>
                        <p class="location-description">{{ location.description }}</p>
                        <p class="location-address">{{ location.street }}, {{ location.zip_code }}, {{ location.city }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-locations">No locations available at the moment.</p>
        {% endif %}
    </div>
</body>
</html>