{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algarve Beach Apartments</title>
    <link rel="stylesheet" href="{% static 'index/style.css' %}">
    <script type="module" src="{% static 'index/script.js' %}"></script>
</head>
<header>
</header>
<body>
    
    <div class="container">
        <h1>Stay with the best</h1>
        <p class="container-subtitle">Book your perfect Algarve holiday experience right now!</p>
    </div>
    
    <div class="container fifty-fifty">
        <h1>FIFTY_FIFTY</h1>
        <p class="container-subtitle">Book your perfect Algarve holiday experience right now!</p>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    
    <div class="container tiles">
        <h1>TILES</h1>
        <p class="container-subtitle">Book your perfect Algarve holiday experience right now!</p>
        <div class="container-inner tile one"></div>
        <div class="container-inner tile two"></div>
        <div class="container-inner tile three"></div>
        <div class="container-inner tile four"></div>
    </div>
    
    <div class="container text-image odd">
        <h1>TEXT_IMAGE_ODD</h1>
        <div class="text"></div>
        <div class="image"></div>
    </div>
    
    <div class="container text-image even">
        <h1>TEXT_IMAGE_EVEN</h1>
        <div class="container-inner half text"></div>
        <div class="container-inner half image"></div>
    </div>
    
    <div class="container text-boxes">
        <div class="text-box one">
            <h2 class="text-box-heading">Text Box 1</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box two">
            <h2 class="text-box-heading">Text Box 2</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box three">
            <h2 class="text-box-heading">Text Box 3</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box four">
            <h2 class="text-box-heading">Text Box 4</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box wide one">
            <h2 class="text-box-heading wide">Text Wide 1</h2>
            <p class="text-box-content wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box wide two">
            <h2 class="text-box-heading wide">Text Wide 2</h2>
            <p class="text-box-content wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
    </div>
    
    <div class="container lists">
        <h1>LISTS</h1>
        <div class="list one">
            <h2>List Heading</h2>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
        <div class="list two">
            <h2>List Heading</h2>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
        <div class="list three">
            <h2>List Heading</h2>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
        <div class="list four">
            <h2>List Heading</h2>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
    </div>
    <div class="container cards">
        <h1>CARD</h1>
        <div class="card">
            <img src="{% static 'index/images/clube-do-monaco/main/1.jpg' %}" alt="Location">
            <h2>Card Heading</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
    </div>

</body>
</html>