.container.picker.group.hidden .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    min-width: 250px;
    border-bottom: #eee 1px solid;
}

.container.picker.group.hidden .counter {
    display: flex;
    align-items: center;
    gap: 10px;
}

.container.picker.group.hidden .row label {
    font-size: 1rem;
    font-weight: 500;
}

.container.picker.group.hidden button {
    font-size: 3rem;
    color: var(--primary-color, #2c79b9);
}

.container.picker.group.hidden button.increment,
.container.picker.group.hidden button.decrement {
    width: 30px;
    height: 30px;
}

.container.picker.group.hidden .counter button:disabled {
    cursor: not-allowed;
    background: #e0e0e0;
    color: #aaa;
}

.container.picker.group.hidden button:hover {
    background: #dcdcdc;
}

.container.picker.group.hidden .count {
    min-width: 20px;
    text-align: center;
    font-size: 1rem;
}