{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Algarve Beach Apartments</title>
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    <script type="module" src="{% static 'main/script.js' %}"></script>
</head>
<header>
</header>
<body>
    
    <div class="container">
        <h1>Stay with the best</h1>
        <h2>Book your perfect Algarve holiday experience right now!</h2>
    </div>
    
    <div class="container fifty-fifty">
        <h1>FIFTY_FIFTY</h1>
        <div class="left"></div>
        <div class="right"></div>
    </div>
    
    <div class="container tiles">
        <h1>TILES</h1>
        <div class="tile one"></div>
        <div class="tile two"></div>
        <div class="tile three"></div>
        <div class="tile four"></div>
    </div>
    
    <div class="container text-image odd">
        <h1>TEXT_IMAGE_ODD</h1>
        <div class="text"></div>
        <div class="image"></div>
    </div>
    
    <div class="container text-image even">
        <h1>TEXT_IMAGE_EVEN</h1>
        <div class="text"></div>
        <div class="image"></div>
    </div>
    
    <div class="container text-boxes">
        <div class="text-box one">
            <h2>Text Box 1</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box two">
            <h2>Text Box 2</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box three">
            <h2>Text Box 3</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box four">
            <h2>Text Box 4</h2>
            <p class="text-box-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box wide one">
            <h2 class="wide">Text Wide 1</h2>
            <p class="text-box-content wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
        <div class="text-box wide two">
            <h2 class="wide">Text Wide 2</h2>
            <p class="text-box-content wide">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p>
        </div>
    </div>
    
    <div class="container lists">
        <h1>LISTS</h1>
        <div class="list one">
            <h3>List Heading</h3>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
        <div class="list two">
            <h3>List Heading</h3>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
        <div class="list three">
            <h3>List Heading</h3>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
        <div class="list four">
            <h3>List Heading</h3>
            <ul>
                <li>List Item 1</li>
                <li>List Item 2</li>
                <li>List Item 3</li>
                <li>List Item 4</li>
                <li>List Item 5</li>
            </ul>
        </div>
    </div>
    
    <div class="container cards">
        <div class="card">
            <img src="{% static 'index/images/clube-do-monaco/main/1.jpg' %}" alt="Location">
            <div class="card-content">
                <h3>Clube do Monaco</h3>
                <div class="card-description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p></div>
                <div class="card-address"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p></div>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'index/images/parque-da-corcovada/main/1.jpg' %}" alt="Location">
            <div class="card-content">
                <h3>Parque da Corcovada</h3>
                <div class="card-description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p></div>
                <div class="card-address"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p></div>
            </div>
        </div>
        <div class="card">
            <img src="{% static 'index/images/parque-da-corcovada/main/1.jpg' %}" alt="Location">
            <div class="card-content">
                <h3>Parque da Corcovada</h3>
                <div class="card-description"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p></div>
                <div class="card-address"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas, voluptate.</p></div>
            </div>
        </div>
    </div>

</body>
</html>