<form class="toolbar availability lite" method="get" action="/availability/search/">
    <div class="container toolbar availability lite">
    
        <div class="datepickers">
            {% include 'pickers/dates.html' with name=datepicker_start_name %}
            {% include 'pickers/dates.html' with name=datepicker_end_name %}
        </div>
    
        <div class="grouppicker-and-submit">
            {% include 'pickers/groups.html' with name=grouppicker_name groups=grouppicker_groups %}
            <button class="submit" type="submit">GO</button>
        </div>

    </div>
</form>