<form class="form availability-toolbar" method="get" action="/availability/search/">
    <div class="container availability-toolbar">
    
        <div class="datepickers">
            {% include 'pickers/dates.html' with name=toolbar_date_picker_start_name %}
            {% include 'pickers/dates.html' with name=toolbar_date_picker_end_name %}
        </div>
    
        <div class="grouppicker-and-submit">
            {% include 'pickers/groups.html' with name=toolbar_group_picker_name groups=toolbar_group_picker_groups %}
            <button class="submit" type="submit">GO</button>
        </div>

    </div>
</form>