.container.top h1, .container.top h3 {
    color: white;
    position: absolute;
    text-align: center;
}

.container.top h1 {
    top: 18%;
    letter-spacing: 1px;
}

.container.top h3 {
    top: 30%;
}

.container.top form.availability-toolbar {
    position: absolute;
    text-align: center;
    top: 38%;
}

.container.text-boxes.iconic {
    height: 30vh;
}

.container.text-boxes.iconic .text-box {
    top: 10%;
    padding: 0;
}

.container.text-boxes.iconic .text-box h2 {
    font-weight: 200;
    font-size: 1.5em;
    margin: 15px 0 0;
}

.container.text-boxes.iconic .text-box-content {
    line-height: 1.6;
    margin: 0;
}

.container.text-boxes.memorable {
    height: fit-content;
}

.container.text-boxes.memorable .text-box.wide h3 {
    color: var(--primary-color);
    font-weight: 200;
    font-size: 2.0em;
    margin: 0;

}
.container.text-boxes.memorable .text-box.wide {
    width: 100%;
    height: fit-content;
    padding: 0 20px;
}

.container.text-boxes.memorable .text-box.wide p {
    line-height: 1.7;
}