<div class="staff-finance-subnav">
    <a href="{% url 'staff:finance_memos' %}" class="staff-finance-subnav-link{% if active_tab == 'memos' %} staff-finance-subnav-link-active{% endif %}">Memos</a>
    <a href="{% url 'staff:finance_ad_hoc_services' %}" class="staff-finance-subnav-link{% if active_tab == 'services' %} staff-finance-subnav-link-active{% endif %}">Ad-hoc Services</a>
    <a href="{% url 'staff:finance_payouts' %}" class="staff-finance-subnav-link{% if active_tab == 'payouts' %} staff-finance-subnav-link-active{% endif %}">Payouts</a>
    <a href="{% url 'staff:finance_deposits' %}" class="staff-finance-subnav-link{% if active_tab == 'deposits' %} staff-finance-subnav-link-active{% endif %}">Deposits</a>
    <a href="{% url 'staff:finance_statement' %}" class="staff-finance-subnav-link{% if active_tab == 'statement' %} staff-finance-subnav-link-active{% endif %}">Statement</a>
</div>
